*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}

.header{
  background: linear-gradient(135deg,#fff,#cfab27);
}
.container{
  padding: 40px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
.navbar nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #393838;
  font-size: 13px;
  font-weight: 700;
}
a:hover{
  color:#DA5726;
  font-weight: 700;
}
p{
  color: #555;
}
.search{
  background-color: #fff;
  width: 500px;
  margin: auto 20px;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}
.search input{
  background: transparent;
  border: none;
  padding-left: 20px;
  width: 100%;
  outline: none;
}
button{
  background: transparent;
  border: none;
  outline: none;
  padding-right: 10px;
}
button img{
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: transparent;
  background-color: #fff;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  
}

.col {
  flex-basis: 50%;
  min-width: 300px;
}

.col img{
  max-width: 100%;
  padding: 0px 0;
}
.col h1{
  font-size: 50px;
  line-height: 65px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  color: #fff;
  background: #DA5726;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 30px 0;
  transition: background 0.5s;
}
.btn:hover{
  background: transparent;
  color: #5D262D;
  border: 2px solid #5D262D;
}

/*----------------featured category-------------------------*/
.category{
  margin: 70px 0;
}
.col-1{
flex: 30%;
min-width: 250px;
margin-bottom: 30px;
}
.col-1 img{
  width: 100%;
  padding: 20px;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.heading {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color:#5D262D;
}
.heading::after{
  content: "";
  width: 80px;
  height: 5px;
  background:#DA5726;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}
.col-2{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-2 img{
  width: 100%;
}
h4{
color:#5D262D;
}
.col-2 p{
  font-size: 14px;
}
.col-2:hover{
  transform: translateY(-5px);
}
/*----------------offer-banner-------------------------*/
.offer-banner{
  height: 600px;
  margin-top: 80px;
  background: linear-gradient(135deg,#fff,#cfab27); 
}
.offer .row{
  height: 500px;
}
.col .offer-img{
  /*TLBR */
  padding: 0px 50px 20px 50px;
  border-radius: 50%;
}
small{
  color:#5D262D;
  font-size: 13px;
  font-weight: 600;
}
/*----------------feedback-------------------------*/
.feedback{
  padding-top: 100px;
}
.feedback .col-2{
text-align: center;
padding: 40px 20px;
box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
cursor:pointer;
transition: transform 0.5s;
}
.feedback .col-2 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.feedback .col-2:hover{
  transform: translateY(-10px);
}
.col-2 p{
font-size: 12px;
margin: 12px 0;
line-height: 20px;
color: #DA5726;
}
.feedback .col-2 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*----------------------footer--------------------*/
footer{
  background: #000;
  color: #5D262D;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}
footer p{
  color: #8a8a8a;
  font-weight: 700;
}
.copy{
  text-align: center;
}
.copy a{
  color:#8a8a8a;
}
footer h3{
  color: #fff;
  margin-bottom: 20px;
}
footer ul li{
  margin-top: 10px;
  color: #8a8a8a;
}
.footer-col,.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
min-width: 200px;
margin-bottom: 20px;
margin-right: 20px;
}

.footer-col-2 img{
  width: 60px;
  margin-top: 20px;
  
}
.footer-col-4 img{
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
}
.footer-logo{
  width: 100px;
  align-self: center;
  padding: 10px;
  margin-right: 20px;
}

@media screen and(max-width: 500px) {
  .navbar nav{
    display: none;
  }
  
}